/* Estilos personalizados Index*/
body {
    background-color: #f8f9fa;
}

.header {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
}

.content {
    margin-top: 50px;
}

.logo img {
    width: 80px;
    height: auto;
    border-radius: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* Fim dos estilos personalizados Index*/

/* Estilos personalizados Cadastro*/
.body-cadastro .form-container-cadastro {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center; 
    border: 1px solid #ccc;
}

.body-cadastro .form-container-cadastro input,
.body-cadastro .form-container-cadastro button {
    width: 100%; 
    max-width: 300px; 
    margin-bottom: 10px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}
/* Fim dos estilos personalizados Cadastro*/

/* Estilos personalizados Login*/
.body-login .form-container-login {
    max-width: 400px;
    margin: auto;
    margin-top: 130px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px; 
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
    border: 1px solid #ccc;
}

.body-login .form-container-login input,
.body-login .form-container-login button {
    width: 100%; 
    max-width: 300px; 
    margin-bottom: 10px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}
/* Fim dos estilos personalizados Login*/


/* Estilos da página de Admin*/
h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

@media (max-width: 767px) {
    table {
        overflow-x: auto;
    }
}
/* Fim dos estilos personalizados Admin*/
